body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
}

*{
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

.card{
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 16vw;
}

.card-title{
    font-size: .75rem;
}

.grid-cards{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    align-content: flex-start;
    gap: 2.5%;
}

.btn{
    background-color: #fff;
    border: .15rem solid #000;
    border-radius: 10em;
    color: #000;
    padding: .25em .75em;
    cursor: pointer;
}

.section-trending{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section-trending .btn{
    align-self: flex-end;
}

.page:not(.active){
    display: none;
}

a, .card{
    cursor: pointer;
}

/* SKELETON */

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }

}

.skeleton-cover{
    width: 100%;
    height: 20vw;
}

.skeleton-title{
    width: 80%;
    height: 1.75vw;
    margin-top: .5vw;
    margin-left: 2px;
}

.skeleton-genre{
    width: 20vw;
    height: 2.5vw;
    margin-bottom: 1vw;
}